@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskMaster</h1>
    <p>Testing project for ASP.NET Core and NHibernate</p>
    <p>Might need to check <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core reference</a> from time to time.</p>
</div>
